<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plc.platform.dao.OrderDao">
    <!-- 查询字段 -->
    <sql id="fields">
        select
            id id,
            product_name productName,
            customer_name customerName,
            plan_id planId,
            tips,
            deleted deleted,
            create_time createTime,
            modify_time modifyTime,
            material_info materialInfo,
            machine_info machineInfo

    </sql>
    <!-- （条件） -->
    <sql id="where">
        <where>
            <if test="ids != null and  ids.size > 0">
                and id in
                <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="productName != null and productName != ''">
                and product_name= #{productName,jdbcType=VARCHAR}
            </if>
            <if test="tips != null and tips != ''">
                and tips= #{tips,jdbcType=VARCHAR}
            </if>
            <if test="customerName != null and customerName != ''">
                and customer_name= #{customerName,jdbcType=VARCHAR}
            </if>
            <if test="planId != null">
                and plan_id= #{planId,jdbcType=BIGINT}
            </if>
            <if test="deleted != null">
                and deleted= #{deleted,jdbcType=INTEGER}
            </if>
            <if test="createTime != null">
                and create_time= #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="modifyTime != null">
                and modify_time= #{modifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="materialInfo != null and materialInfo != ''">
                and material_info= #{materialInfo,jdbcType=VARCHAR}
            </if>
            <if test="machineInfo != null and machineInfo != ''">
                and machine_info= #{machineInfo,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>
    <!-- （插入或更新） -->
    <sql id="saveSet">
        <trim prefix="" suffixOverrides=",">
            <if test="productName != null and productName != ''">
                product_name= #{productName,jdbcType=VARCHAR},
            </if>
            <if test="customerName != null and customerName != ''">
                customer_name= #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="tips != null and tips != ''">
                tips= #{tips,jdbcType=VARCHAR},
            </if>
            <if test="planId != null">
                plan_id= #{planId,jdbcType=BIGINT},
            </if>
            <if test="deleted != null">
                deleted= #{deleted,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time= #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time= #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="materialInfo != null and materialInfo != ''">
                material_info= #{materialInfo,jdbcType=VARCHAR},
            </if>
            <if test="machineInfo != null and machineInfo != ''">
                machine_info= #{machineInfo,jdbcType=VARCHAR},
            </if>
        </trim>
    </sql>

    <!-- 插入实体 -->
    <insert id="insert" parameterType="com.plc.platform.entity.Order" useGeneratedKeys="true"
            keyProperty="id">
        insert into `order` set
        <include refid="saveSet"/>
    </insert>
    <!-- 批量插入实体 -->
    <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true"
            keyProperty="id">
        insert into `order`
        (
        tips,
        product_name,
        customer_name,
        plan_id,
        deleted,
        create_time,
        modify_time,
        material_info,
        machine_info
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            <trim prefix="" suffixOverrides=",">
                #{item.tips,jdbcType=VARCHAR},
                #{item.productName,jdbcType=VARCHAR},
                #{item.customerName,jdbcType=VARCHAR},
                #{item.planId,jdbcType=BIGINT},
                #{item.deleted,jdbcType=INTEGER},
                #{item.createTime,jdbcType=TIMESTAMP},
                #{item.modifyTime,jdbcType=TIMESTAMP},
                #{item.materialInfo,jdbcType=VARCHAR},
                #{item.machineInfo,jdbcType=VARCHAR},
            </trim>
            )
        </foreach>
    </insert>

    <!-- 更新实体 -->
    <update id="update" parameterType="com.plc.platform.entity.Order">
        update `order` set
        <include refid="saveSet"/>
        where id = #{id}
    </update>
    <update id="deleteById">
        update `order`
        <set>
            deleted=1
        </set>
        where id = #{id}
    </update>

    <!-- 查询单个 -->
    <select id="getById" resultType="com.plc.platform.entity.Order">
        <include refid="fields"/>
        from `order`
        where id = #{id}
    </select>
    <!-- 查询 -->
    <select id="getList"
            resultType="com.plc.platform.entity.Order">
        <include refid="fields"/>
        from `order`
        <include refid="where"/>
        <if test="column != null">
            order by ${column} ${sort}
        </if>
        <if test="offset != null">
            limit #{offset} , ${limit}
        </if>
    </select>


    <!-- 查询（计数） -->
    <select id="getCount" resultType="java.lang.Long">
        select count(*)
        from `order`
        <include refid="where"/>
    </select>
</mapper>
