<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plc.platform.dao.ProductionPlanDao">
    <!-- 查询字段 -->
    <sql id="fields">
        select
            id id,
            create_time createTime,
            leader leader,
            shift shift,
            modify_time modifyTime,
            deleted deleted,
            product_time productTime,
            order_data orderData,
            machine_data machineData,
            people_count peopleCount,
            device_count deviceCount

    </sql>
    <!-- （条件） -->
    <sql id="where">
        <where>
                        <if test="ids != null and  ids.size > 0">
                            and id in
                            <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                            #{item}
                            </foreach>
                        </if>
                        <if test="createTime != null">
                            and create_time= #{createTime,jdbcType=TIMESTAMP}
                        </if>
                        <if test="leader != null and leader != ''">
                            and leader= #{leader,jdbcType=VARCHAR}
                        </if>
                        <if test="shift != null">
                            and shift= #{shift,jdbcType=INTEGER}
                        </if>
                        <if test="modifyTime != null">
                            and modify_time= #{modifyTime,jdbcType=TIMESTAMP}
                        </if>
                        <if test="deleted != null">
                            and deleted= #{deleted,jdbcType=INTEGER}
                        </if>
                        <if test="productTime != null">
                            and product_time= #{productTime,jdbcType=TIMESTAMP}
                        </if>
                        <if test="orderData != null and orderData != ''">
                            and order_data= #{orderData,jdbcType=VARCHAR}
                        </if>
                        <if test="machineData != null and machineData != ''">
                            and machine_data= #{machineData,jdbcType=VARCHAR}
                        </if>
                        <if test="peopleCount != null">
                            and people_count= #{peopleCount,jdbcType=INTEGER}
                        </if>
                        <if test="deviceCount != null">
                            and device_count= #{deviceCount,jdbcType=INTEGER}
                        </if>
        </where>
    </sql>
    <!-- （插入或更新） -->
    <sql id="saveSet">
        <trim prefix="" suffixOverrides=",">
                        <if test="createTime != null">
                            create_time= #{createTime,jdbcType=TIMESTAMP},
                        </if>
                        <if test="leader != null and leader != ''">
                            leader= #{leader,jdbcType=VARCHAR},
                        </if>
                        <if test="shift != null">
                            shift= #{shift,jdbcType=INTEGER},
                        </if>
                        <if test="modifyTime != null">
                            modify_time= #{modifyTime,jdbcType=TIMESTAMP},
                        </if>
                        <if test="deleted != null">
                            deleted= #{deleted,jdbcType=INTEGER},
                        </if>
                        <if test="productTime != null">
                            product_time= #{productTime,jdbcType=TIMESTAMP},
                        </if>
                        <if test="orderData != null and orderData != ''">
                            order_data= #{orderData,jdbcType=VARCHAR},
                        </if>
                        <if test="machineData != null and machineData != ''">
                            machine_data= #{machineData,jdbcType=VARCHAR},
                        </if>
                        <if test="peopleCount != null">
                            people_count= #{peopleCount,jdbcType=INTEGER},
                        </if>
                        <if test="deviceCount != null">
                            device_count= #{deviceCount,jdbcType=INTEGER},
                        </if>
        </trim>
    </sql>

    <!-- 插入实体 -->
    <insert id="insert" parameterType="com.plc.platform.entity.ProductionPlan" useGeneratedKeys="true"
            keyProperty="id">
        insert into production_plan set
        <include refid="saveSet"/>
    </insert>
    <!-- 批量插入实体 -->
    <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true"
            keyProperty="id">
        insert into production_plan
        (
                     id,
                     create_time,
                     leader,
                     shift,
                     modify_time,
                     deleted,
                     product_time,
                     order_data,
                     machine_data,
                     people_count,
                     device_count
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            <trim prefix="" suffixOverrides=",">
                    #{item.id,jdbcType=BIGINT},
                    #{item.createTime,jdbcType=TIMESTAMP},
                    #{item.leader,jdbcType=VARCHAR},
                    #{item.shift,jdbcType=INTEGER},
                    #{item.modifyTime,jdbcType=TIMESTAMP},
                    #{item.deleted,jdbcType=INTEGER},
                    #{item.productTime,jdbcType=TIMESTAMP},
                    #{item.orderData,jdbcType=VARCHAR},
                    #{item.machineData,jdbcType=VARCHAR},
                    #{item.peopleCount,jdbcType=INTEGER},
                    #{item.deviceCount,jdbcType=INTEGER},
            </trim>
            )
        </foreach>
    </insert>

    <!-- 更新实体 -->
    <update id="update" parameterType="com.plc.platform.entity.ProductionPlan">
        update production_plan set
        <include refid="saveSet"/>
        where id = #{id}
    </update>
    <update id="deleteById">
        update production_plan
        <set>
            deleted=1
        </set>
        where id = #{id}
    </update>

    <!-- 查询单个 -->
    <select id="getById" resultType="com.plc.platform.entity.ProductionPlan">
        <include refid="fields"/>
        from production_plan
        where id = #{id}
    </select>
    <!-- 查询 -->
    <select id="getList"
            resultType="com.plc.platform.entity.ProductionPlan">
        <include refid="fields"/>
        from production_plan
        <include refid="where"/>
        <if test="column != null">
            order by ${column}  ${sort}
        </if>
        <if test="offset != null">
            limit #{offset} , ${limit}
        </if>
    </select>


    <!-- 查询（计数） -->
    <select id="getCount" resultType="java.lang.Long">
        select count(*)
        from production_plan
        <include refid="where"/>
    </select>
</mapper>
